################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/stellar.webservice/.vs/stellar.webservice/v16
/stellar.webservice/stellar.webservice/obj
